.App-header{
  margin-top: 30px;
  margin-left: 50px;
}

.App-ul{
  list-style: none;
  padding: 0px;
}

.App-li{
  display: inline-block;
  margin-right: 25px;
}

.App-li:last-child{
  margin-right: 0;
}

.App-link {
  color: black;
  text-decoration: none;
}

.App-link:hover{
  text-decoration: underline;
  color: blue;
}


